<h1 style="margin-top: 2%;">Dashboard</h1>
<div class="row">
  <div class="col-md-3">
    <div class="metric">
      <span class="icon"><i class="fa fa-tasks"></i></span>
      <p>
        <span class="number">109</span>
        <span class="title">Projects</span>
      </p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="metric">
      <span class="icon"><i class="fa fa-graduation-cap"></i></span>
      <p>
        <span class="number">200</span>
        <span class="title">Students</span>
      </p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="metric">
      <span class="icon"><i class="fa fa-map-signs"></i></span>
      <p>
        <span class="number">12</span>
        <span class="title">Active Beacons</span>
      </p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="metric">
      <span class="icon"><i class="fa fa-bar-chart"></i></span>
      <p>
        <span class="number">35%</span>
        <span class="title">Conversions</span>
      </p>
    </div>
  </div>
</div>