<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Congratulations!</h1>
                <h2>
                    Your project ahs been registered.</h2>
                <div class="error-details">
                    We have eamiled your credentials to you, please follow <a routerLink='/login'> this</a> link to login..
                </div>
            </div>
        </div>
    </div>
  </div>
  
  